.content{
  margin-left: $space-5;
  margin-right: $space-5;
  margin-top: $space-8;
  h1{
  text-transform: capitalize;
  margin-top: $space-8;
  }
  h2{
    text-transform: capitalize;
  }
  .pre{
    border:1px solid #ccc;padding:10px;margin:12px 0 10px;font-size:0,9em;
  }
  .h{
    p{
      color: white;
    }
  }
}
